body {
    background-color: #000;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;

    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}